*{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
}
body{
    height: 100vh;
    background: linear-gradient( #82d89f, rgb(118, 193, 223));
}
#canvas{
    padding: 1rem;
    margin-top: 4rem;
}
.controls{
    margin-top: 5rem;
    width: 100%;
    display: flex;
    justify-content: center;
}
.controls>button{
    margin: 3px;
    padding: 1rem;
    height: 30px;
    min-width: 70px;
    border: 1px solid #008D9A;
    border-radius: 1rem;
    background-color: transparent;
    cursor: pointer;
}
#play, #pause{
    padding: 1.5rem 2rem;
    margin-top: -5px;
}
#volume{
    background: url(./media/icons/volume.png) no-repeat;
    background-position: center;
    background-size: 20px;
}
#play{
    background: url(./media/icons/play-button.png) no-repeat;
    background-position: center;
    background-size: 30px;
}
#pause{
    background: url(./media/icons/pause.png) no-repeat;
    background-position: center;
    background-size: 30px;
    display: none;
}
#fast{
    background: url(./media/icons/fast-forward.png) no-repeat;
    background-position: center;
    background-size: 20px;
}
#bar{
    background-color: pink;
    height: 200px;
    width: 0px;
    margin-top: -13rem;
    z-index: 10;
}

/*---------------Static Tags----------------- */

.banner{
    position: absolute;
    top: 60px;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: fit-content;
}
.textBox{
    color: white;
    font-size: 16px;
    padding: 5px 7px;
    border-radius: 5px;
}
.banner>div{
    background-color: #07a31f;
}
.bar{
    width: 2px;
    height: 90px;
    opacity: .7;
}
.circle{
    width: 13px;
    height: 13px;
    opacity: .7;
    border-radius: 50px;
}

.tag2{
    left: 300px;
}
.tag2>div{
    background-color: #0fc98b;
}
.tag3{
    right: 220px;
    top: 90px;
}
.tag3>.bar{
    height: 60px;
}
.tag3>div{
    background-color: #1603a8;
}
.tag4{
    right: 160px;
    top: 60px;
    align-items: center;
}
.tag4>.bar{
    margin-left: 190px;
    height: 90px;
}
.tag4>.circle{
    margin-left: 190px;
}
.tag4>div{
    background-color: #af7976;
}
.tag5{
    right: 120px;
    top: 30px;
    align-items: center;
}
.tag5>.bar{
    height: 120px;
    margin-left: 180px;
}
.tag5>.circle{
    margin-left: 180px;
}
.tag5>div{
    background-color: #5d9e2e;
}
